
<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>


<div *ngIf="student; else divLoading" class="grid p-2">

  <mat-card class="col-12 sm:col-6">

    <mat-card-header>
      <mat-card-title>{{ student.curp }}</mat-card-title>
      <mat-card-subtitle>{{ student.name + ' ' + student.lastname }}</mat-card-subtitle>
    </mat-card-header>


    <img [src]="student | studentImage" mat-card-image  /> 

  </mat-card>

  <mat-card class="col-12 sm:col-6">

    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle>{{ student.name + ' ' + student.lastname }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>CURP: {{ student.curp }}</mat-list-item>
        <mat-list-item>Name: {{ student.name }}</mat-list-item>
        <mat-list-item>Lastname: {{ student.lastname }}</mat-list-item>
        <mat-list-item>Active: {{ student.active }}</mat-list-item>
        <mat-list-item>Birhday: {{ student.birthday | date: 'dd/MM/yyyy' }}</mat-list-item>
        <mat-list-item>Created: {{ student.created | date: 'dd/MM/yyyy' }}</mat-list-item>
        <mat-list-item>Id: {{ student.id }}</mat-list-item>
      </mat-list>

      <button mat-button color="warn" (click)="goBack()">
        Back
      </button>

    </mat-card-content>


  </mat-card>


</div>
