<div class="login-container">
  <div class="login-left">

    <h2>Login</h2>
    <form [formGroup]="adminForm" #loginForm="ngForm" (submit)="onLogin()">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Username" formControlName="username">
        <mat-error *ngFor="let error of getArrayErrors(adminForm.controls['username'])">{{ error }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password">
        <mat-error *ngFor="let error of getArrayErrors(adminForm.controls['password'])">{{ error }}</mat-error>
      </mat-form-field>
      <div class="flex justify-content-end mt-5">
        <button type="submit" mat-raised-button color="primary">
          Log In
        </button>
      </div>
    </form>

    <br />
    <br />
    <p>Don't have an account? <a routerLink="/auth/new-account">Sign Up Now</a></p>
  </div>
  <div class="login-right">
    <div class="login-info">
      <h3>Why should I login?</h3>
      <p>By logging in, you can access your personal dashboard, where you can manage your account, view your profile,
        and much more.</p>
      <img src="https://gdm-catalog-fmapi-prod.imgix.net/ProductScreenshot/4baaf885-82cd-42e6-9e9e-6141a1869524.png"
        alt="Dashboard example">
    </div>
  </div>
</div>