/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spacer {
  flex: 1 1 auto;
}

.alert-danger {
  background-color: #f44336; /* Red */
}
.alert-success {
  background-color: #36f456;  
} 
.alert{
  margin: 10px;
  padding: 10px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}
